.container {
    max-width: 85%;
    margin: 0 auto;
  }
  
  .main-box {
    /* background-color: #f0f2f5; */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 20px;
  }
  
  .profile-section {
    display: flex;
    align-items: center;
    padding: 15px;
  }
  
  .profile-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .display-name {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .name {
    font-weight: bold;
  }
  
  .timed-on {
    display: flex;
    color: gray;
    margin-left: 75px;
    margin-top: -20px;
  }
  
  .content-box {
    position: relative;
  }
  
  .expand-dots {
    position: absolute;
    top: 30px;
    right: 160px;
  }
  
  .content-caption {
    padding: 15px;
  }
  
  .content-image {
    margin: auto;
    align-items: center;
    display: block;
    width: 98%;
    /* width: 1500px;
    justify-content: center;
    margin:0 10px 0 10px; */
  }
  
  .content-actions {
    display: flex;
    justify-content: flex-start; /* changed */
    align-items: center;
    padding: 10px;
  }
  
  .like, .share {
    color: gray;
    margin-right:10px; 
}
  
    .comment-box {
    padding:10px;
    background-color: #B4CDE6;
    }

    .comment-count {
    color:gray; 
    }

    .comment-item {
    display:flex; 
    }

    .comment-photo {
    width:40px; 
    height:40px; 
    border-radius:50%; 
    }

    .comment-content {
    margin: 10px;
    }

    .comment-count{
        margin-top: 2px;
    }

    .comment-name {
    font-weight:bold; 
    }

    .comment-date {
    color:gray; 
    }

    .comment-reply a {
    color:blue; 
    text-decoration:none; 
    }

    .comment-flag {
    color:gray; 
    margin-left:10px; 
    }

    .comment-form {
    margin-top: 15px;
    display:flex; 
    align-items:center; 
    }

    .comment-form input {
    width:100%;
    height: 100%;
    margin-left:10px; 
    border:none; 
    outline:none; 
    padding:5px; 
    background-color:#fff; 
    }

    button {
        width:auto;
        margin-left:50px;
        border:none;
        outline:none;
        padding:auto;
        border-radius:auto;
        background-color:#1877f2;
        color:white;
        }
        
        .fa-angle-down{
        margin-left:auto;
        
        }

    .fas{
        font-size: small;
    }